<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.JfMzcpMxMapper">
  <resultMap id="BaseResultMap" type="com.power.common.entity.JfMzcpMx">
    <id column="xh" jdbcType="INTEGER" property="xh" />
    <result column="cpxh" jdbcType="INTEGER" property="cpxh" />
    <result column="dwxh" jdbcType="VARCHAR" property="dwxh" />
    <result column="dwmc" jdbcType="VARCHAR" property="dwmc" />
    <result column="qzcpmc" jdbcType="VARCHAR" property="qzcpmc" />
    <result column="lryxh" jdbcType="VARCHAR" property="lryxh" />
    <result column="lrymc" jdbcType="VARCHAR" property="lrymc" />
    <result column="lrsj" jdbcType="TIMESTAMP" property="lrsj" />
    <result column="zt" jdbcType="INTEGER" property="zt" />
    <result column="mzcprs" jdbcType="INTEGER" property="mzcprs" />
    <result column="mzcpwcrs" jdbcType="INTEGER" property="mzcpwcrs" />
  </resultMap>
  <sql id="Base_Column_List">
    xh, cpxh, dwxh, dwmc, qzcpmc, lryxh, lrymc, lrsj, zt, mzcprs, mzcpwcrs
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jf_mzcp_mx
    where xh = #{xh,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from jf_mzcp_mx
    where xh = #{xh,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.power.common.entity.JfMzcpMx">
    <selectKey keyProperty="xh" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into jf_mzcp_mx (cpxh, dwxh, dwmc, 
      qzcpmc, lryxh, lrymc, 
      lrsj, zt, mzcprs, 
      mzcpwcrs)
    values (#{cpxh,jdbcType=INTEGER}, #{dwxh,jdbcType=VARCHAR}, #{dwmc,jdbcType=VARCHAR}, 
      #{qzcpmc,jdbcType=VARCHAR}, #{lryxh,jdbcType=VARCHAR}, #{lrymc,jdbcType=VARCHAR}, 
      #{lrsj,jdbcType=TIMESTAMP}, #{zt,jdbcType=INTEGER}, #{mzcprs,jdbcType=INTEGER}, 
      #{mzcpwcrs,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.power.common.entity.JfMzcpMx">
    <selectKey keyProperty="xh" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into jf_mzcp_mx
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cpxh != null">
        cpxh,
      </if>
      <if test="dwxh != null">
        dwxh,
      </if>
      <if test="dwmc != null">
        dwmc,
      </if>
      <if test="qzcpmc != null">
        qzcpmc,
      </if>
      <if test="lryxh != null">
        lryxh,
      </if>
      <if test="lrymc != null">
        lrymc,
      </if>
      <if test="lrsj != null">
        lrsj,
      </if>
      <if test="zt != null">
        zt,
      </if>
      <if test="mzcprs != null">
        mzcprs,
      </if>
      <if test="mzcpwcrs != null">
        mzcpwcrs,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cpxh != null">
        #{cpxh,jdbcType=INTEGER},
      </if>
      <if test="dwxh != null">
        #{dwxh,jdbcType=VARCHAR},
      </if>
      <if test="dwmc != null">
        #{dwmc,jdbcType=VARCHAR},
      </if>
      <if test="qzcpmc != null">
        #{qzcpmc,jdbcType=VARCHAR},
      </if>
      <if test="lryxh != null">
        #{lryxh,jdbcType=VARCHAR},
      </if>
      <if test="lrymc != null">
        #{lrymc,jdbcType=VARCHAR},
      </if>
      <if test="lrsj != null">
        #{lrsj,jdbcType=TIMESTAMP},
      </if>
      <if test="zt != null">
        #{zt,jdbcType=INTEGER},
      </if>
      <if test="mzcprs != null">
        #{mzcprs,jdbcType=INTEGER},
      </if>
      <if test="mzcpwcrs != null">
        #{mzcpwcrs,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.power.common.entity.JfMzcpMx">
    update jf_mzcp_mx
    <set>
      <if test="cpxh != null">
        cpxh = #{cpxh,jdbcType=INTEGER},
      </if>
      <if test="dwxh != null">
        dwxh = #{dwxh,jdbcType=VARCHAR},
      </if>
      <if test="dwmc != null">
        dwmc = #{dwmc,jdbcType=VARCHAR},
      </if>
      <if test="qzcpmc != null">
        qzcpmc = #{qzcpmc,jdbcType=VARCHAR},
      </if>
      <if test="lryxh != null">
        lryxh = #{lryxh,jdbcType=VARCHAR},
      </if>
      <if test="lrymc != null">
        lrymc = #{lrymc,jdbcType=VARCHAR},
      </if>
      <if test="lrsj != null">
        lrsj = #{lrsj,jdbcType=TIMESTAMP},
      </if>
      <if test="zt != null">
        zt = #{zt,jdbcType=INTEGER},
      </if>
      <if test="mzcprs != null">
        mzcprs = #{mzcprs,jdbcType=INTEGER},
      </if>
      <if test="mzcpwcrs != null">
        mzcpwcrs = #{mzcpwcrs,jdbcType=INTEGER},
      </if>
    </set>
    where xh = #{xh,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.power.common.entity.JfMzcpMx">
    update jf_mzcp_mx
    set cpxh = #{cpxh,jdbcType=INTEGER},
      dwxh = #{dwxh,jdbcType=VARCHAR},
      dwmc = #{dwmc,jdbcType=VARCHAR},
      qzcpmc = #{qzcpmc,jdbcType=VARCHAR},
      lryxh = #{lryxh,jdbcType=VARCHAR},
      lrymc = #{lrymc,jdbcType=VARCHAR},
      lrsj = #{lrsj,jdbcType=TIMESTAMP},
      zt = #{zt,jdbcType=INTEGER},
      mzcprs = #{mzcprs,jdbcType=INTEGER},
      mzcpwcrs = #{mzcpwcrs,jdbcType=INTEGER}
    where xh = #{xh,jdbcType=INTEGER}
  </update>
  
  
  <!-- "getMzcpDwList" -->
  <select id="getMzcpDwList" parameterType="map" resultType="com.power.jfgl.entity.JfMzcpMxVO">
  	select mx.*,cp.kssj,cp.jzsj,cp.cpzt,cp.bz FROM jf_mzcp_mx mx LEFT JOIN jf_mzcp cp ON mx.cpxh = cp.xh
  	<where>
  		<if test="st!=null and et==null">and substring(sfrq,1,length(#{st}))&gt;=#{st}</if>
	   	<if test="et!=null and st==null">and substring(sfrq,1,length(#{et}))&lt;=#{et}</if>
	   	<if test="st!=null and et!=null">and substring(sfrq,1,length(#{st})) between #{st} and #{et}</if>
	   	<if test="depts != null">and mx.dwxh in (${depts})</if>
	   	<if test="bt != null">and cp.bt like concat('%',#{bt},'%')</if>
  	</where>
  </select>
</mapper>