<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.JfMzcpMapper">
  <resultMap id="BaseResultMap" type="com.power.common.entity.JfMzcp">
    <id column="xh" jdbcType="INTEGER" property="xh" />
    <result column="lrsj" jdbcType="TIMESTAMP" property="lrsj" />
    <result column="lryxh" jdbcType="VARCHAR" property="lryxh" />
    <result column="lrymc" jdbcType="VARCHAR" property="lrymc" />
    <result column="zt" jdbcType="INTEGER" property="zt" />
    <result column="kssj" jdbcType="TIMESTAMP" property="kssj" />
    <result column="jzsj" jdbcType="TIMESTAMP" property="jzsj" />
    <result column="cpzt" jdbcType="VARCHAR" property="cpzt" />
    <result column="bz" jdbcType="VARCHAR" property="bz" />
    <result column="cpdwgs" jdbcType="INTEGER" property="cpdwgs" />
    <result column="cpdw" jdbcType="VARCHAR" property="cpdw" />
  </resultMap>
  <sql id="Base_Column_List">
    xh, lrsj, lryxh, lrymc, zt, kssj, jzsj, cpzt, bz, cpdwgs, cpdw
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jf_mzcp
    where xh = #{xh,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from jf_mzcp
    where xh = #{xh,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.power.common.entity.JfMzcp">
    <selectKey keyProperty="xh" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into jf_mzcp (lrsj, lryxh, lrymc, 
      zt, kssj, jzsj, 
      cpzt, bz, cpdwgs, cpdw
      )
    values (#{lrsj,jdbcType=TIMESTAMP}, #{lryxh,jdbcType=VARCHAR}, #{lrymc,jdbcType=VARCHAR}, 
      #{zt,jdbcType=INTEGER}, #{kssj,jdbcType=TIMESTAMP}, #{jzsj,jdbcType=TIMESTAMP}, 
      #{cpzt,jdbcType=VARCHAR}, #{bz,jdbcType=VARCHAR}, #{cpdwgs,jdbcType=INTEGER}, #{cpdw,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.power.common.entity.JfMzcp">
    <selectKey keyProperty="xh" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into jf_mzcp
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="lrsj != null">
        lrsj,
      </if>
      <if test="lryxh != null">
        lryxh,
      </if>
      <if test="lrymc != null">
        lrymc,
      </if>
      <if test="zt != null">
        zt,
      </if>
      <if test="kssj != null">
        kssj,
      </if>
      <if test="jzsj != null">
        jzsj,
      </if>
      <if test="cpzt != null">
        cpzt,
      </if>
      <if test="bz != null">
        bz,
      </if>
      <if test="cpdwgs != null">
        cpdwgs,
      </if>
      <if test="cpdw != null">
        cpdw,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="lrsj != null">
        #{lrsj,jdbcType=TIMESTAMP},
      </if>
      <if test="lryxh != null">
        #{lryxh,jdbcType=VARCHAR},
      </if>
      <if test="lrymc != null">
        #{lrymc,jdbcType=VARCHAR},
      </if>
      <if test="zt != null">
        #{zt,jdbcType=INTEGER},
      </if>
      <if test="kssj != null">
        #{kssj,jdbcType=TIMESTAMP},
      </if>
      <if test="jzsj != null">
        #{jzsj,jdbcType=TIMESTAMP},
      </if>
      <if test="cpzt != null">
        #{cpzt,jdbcType=VARCHAR},
      </if>
      <if test="bz != null">
        #{bz,jdbcType=VARCHAR},
      </if>
      <if test="cpdwgs != null">
        #{cpdwgs,jdbcType=INTEGER},
      </if>
      <if test="cpdw != null">
        #{cpdw,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.power.common.entity.JfMzcp">
    update jf_mzcp
    <set>
      <if test="lrsj != null">
        lrsj = #{lrsj,jdbcType=TIMESTAMP},
      </if>
      <if test="lryxh != null">
        lryxh = #{lryxh,jdbcType=VARCHAR},
      </if>
      <if test="lrymc != null">
        lrymc = #{lrymc,jdbcType=VARCHAR},
      </if>
      <if test="zt != null">
        zt = #{zt,jdbcType=INTEGER},
      </if>
      <if test="kssj != null">
        kssj = #{kssj,jdbcType=TIMESTAMP},
      </if>
      <if test="jzsj != null">
        jzsj = #{jzsj,jdbcType=TIMESTAMP},
      </if>
      <if test="cpzt != null">
        cpzt = #{cpzt,jdbcType=VARCHAR},
      </if>
      <if test="bz != null">
        bz = #{bz,jdbcType=VARCHAR},
      </if>
      <if test="cpdwgs != null">
        cpdwgs = #{cpdwgs,jdbcType=INTEGER},
      </if>
      <if test="cpdw != null">
        cpdw = #{cpdw,jdbcType=VARCHAR},
      </if>
    </set>
    where xh = #{xh,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.power.common.entity.JfMzcp">
    update jf_mzcp
    set lrsj = #{lrsj,jdbcType=TIMESTAMP},
      lryxh = #{lryxh,jdbcType=VARCHAR},
      lrymc = #{lrymc,jdbcType=VARCHAR},
      zt = #{zt,jdbcType=INTEGER},
      kssj = #{kssj,jdbcType=TIMESTAMP},
      jzsj = #{jzsj,jdbcType=TIMESTAMP},
      cpzt = #{cpzt,jdbcType=VARCHAR},
      bz = #{bz,jdbcType=VARCHAR},
      cpdwgs = #{cpdwgs,jdbcType=INTEGER},
      cpdw = #{cpdw,jdbcType=VARCHAR}
    where xh = #{xh,jdbcType=INTEGER}
  </update>
  
  <!-- getMzcpList 只记录记录大于0-->
  <select id="getMzcpList" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jf_mzcp
    where zt &gt; 0
    order by xh desc
  </select>
</mapper>