<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.KsTiMuMapper">
  <resultMap id="BaseResultMap" type="com.power.common.entity.KsTiMu">
    <id column="xh" jdbcType="BIGINT" property="xh" />
    <result column="tmlx" jdbcType="INTEGER" property="tmlx" />
    <result column="tmfl" jdbcType="VARCHAR" property="tmfl" />
    <result column="bt" jdbcType="VARCHAR" property="bt" />
    <result column="xx" jdbcType="VARCHAR" property="xx" />
    <result column="zqda" jdbcType="VARCHAR" property="zqda" />
    <result column="dajx" jdbcType="VARCHAR" property="dajx" />
    <result column="tmfs" jdbcType="INTEGER" property="tmfs" />
    <result column="cwcs" jdbcType="INTEGER" property="cwcs" />
    <result column="lrsj" jdbcType="TIMESTAMP" property="lrsj" />
    <result column="lrrmc" jdbcType="VARCHAR" property="lrrmc" />
    <result column="lrrxh" jdbcType="VARCHAR" property="lrrxh" />
    <result column="zt" jdbcType="INTEGER" property="zt" />
    <result column="ssdw" jdbcType="VARCHAR" property="ssdw" />
  </resultMap>
  <sql id="Base_Column_List">
    xh, tmlx, tmfl, bt, xx, zqda, dajx, tmfs, cwcs, lrsj, lrrmc, lrrxh, zt, ssdw
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ks_timu
    where xh = #{xh,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ks_timu
    where xh = #{xh,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.power.common.entity.KsTiMu">
    <selectKey keyProperty="xh" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ks_timu (tmlx, tmfl, bt, 
      xx, zqda, dajx, tmfs, 
      cwcs, lrsj, lrrmc, 
      lrrxh, zt, ssdw)
    values (#{tmlx,jdbcType=INTEGER}, #{tmfl,jdbcType=VARCHAR}, #{bt,jdbcType=VARCHAR}, 
      #{xx,jdbcType=VARCHAR}, #{zqda,jdbcType=VARCHAR}, #{dajx,jdbcType=VARCHAR}, #{tmfs,jdbcType=INTEGER}, 
      #{cwcs,jdbcType=INTEGER}, #{lrsj,jdbcType=TIMESTAMP}, #{lrrmc,jdbcType=VARCHAR}, 
      #{lrrxh,jdbcType=VARCHAR}, #{zt,jdbcType=INTEGER}, #{ssdw,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.power.common.entity.KsTiMu">
    <selectKey keyProperty="xh" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ks_timu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tmlx != null">
        tmlx,
      </if>
      <if test="tmfl != null">
        tmfl,
      </if>
      <if test="bt != null">
        bt,
      </if>
      <if test="xx != null">
        xx,
      </if>
      <if test="zqda != null">
        zqda,
      </if>
      <if test="dajx != null">
        dajx,
      </if>
      <if test="tmfs != null">
        tmfs,
      </if>
      <if test="cwcs != null">
        cwcs,
      </if>
      <if test="lrsj != null">
        lrsj,
      </if>
      <if test="lrrmc != null">
        lrrmc,
      </if>
      <if test="lrrxh != null">
        lrrxh,
      </if>
      <if test="zt != null">
        zt,
      </if>
      <if test="ssdw != null">
        ssdw,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tmlx != null">
        #{tmlx,jdbcType=INTEGER},
      </if>
      <if test="tmfl != null">
        #{tmfl,jdbcType=VARCHAR},
      </if>
      <if test="bt != null">
        #{bt,jdbcType=VARCHAR},
      </if>
      <if test="xx != null">
        #{xx,jdbcType=VARCHAR},
      </if>
      <if test="zqda != null">
        #{zqda,jdbcType=VARCHAR},
      </if>
      <if test="dajx != null">
        #{dajx,jdbcType=VARCHAR},
      </if>
      <if test="tmfs != null">
        #{tmfs,jdbcType=INTEGER},
      </if>
      <if test="cwcs != null">
        #{cwcs,jdbcType=INTEGER},
      </if>
      <if test="lrsj != null">
        #{lrsj,jdbcType=TIMESTAMP},
      </if>
      <if test="lrrmc != null">
        #{lrrmc,jdbcType=VARCHAR},
      </if>
      <if test="lrrxh != null">
        #{lrrxh,jdbcType=VARCHAR},
      </if>
      <if test="zt != null">
        #{zt,jdbcType=INTEGER},
      </if>
      <if test="ssdw != null">
        #{ssdw,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.power.common.entity.KsTiMu">
    update ks_timu
    <set>
      <if test="tmlx != null">
        tmlx = #{tmlx,jdbcType=INTEGER},
      </if>
      <if test="tmfl != null">
        tmfl = #{tmfl,jdbcType=VARCHAR},
      </if>
      <if test="bt != null">
        bt = #{bt,jdbcType=VARCHAR},
      </if>
      <if test="xx != null">
        xx = #{xx,jdbcType=VARCHAR},
      </if>
      <if test="zqda != null">
        zqda = #{zqda,jdbcType=VARCHAR},
      </if>
      <if test="dajx != null">
        dajx = #{dajx,jdbcType=VARCHAR},
      </if>
      <if test="tmfs != null">
        tmfs = #{tmfs,jdbcType=INTEGER},
      </if>
      <if test="cwcs != null">
        cwcs = #{cwcs,jdbcType=INTEGER},
      </if>
      <if test="lrsj != null">
        lrsj = #{lrsj,jdbcType=TIMESTAMP},
      </if>
      <if test="lrrmc != null">
        lrrmc = #{lrrmc,jdbcType=VARCHAR},
      </if>
      <if test="lrrxh != null">
        lrrxh = #{lrrxh,jdbcType=VARCHAR},
      </if>
      <if test="zt != null">
        zt = #{zt,jdbcType=INTEGER},
      </if>
      <if test="ssdw != null">
        ssdw = #{ssdw,jdbcType=VARCHAR},
      </if>
    </set>
    where xh = #{xh,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.power.common.entity.KsTiMu">
    update ks_timu
    set tmlx = #{tmlx,jdbcType=INTEGER},
      tmfl = #{tmfl,jdbcType=VARCHAR},
      bt = #{bt,jdbcType=VARCHAR},
      xx = #{xx,jdbcType=VARCHAR},
      zqda = #{zqda,jdbcType=VARCHAR},
      dajx = #{dajx,jdbcType=VARCHAR},
      tmfs = #{tmfs,jdbcType=INTEGER},
      cwcs = #{cwcs,jdbcType=INTEGER},
      lrsj = #{lrsj,jdbcType=TIMESTAMP},
      lrrmc = #{lrrmc,jdbcType=VARCHAR},
      lrrxh = #{lrrxh,jdbcType=VARCHAR},
      zt = #{zt,jdbcType=INTEGER},
      ssdw = #{ssdw,jdbcType=VARCHAR}
    where xh = #{xh,jdbcType=BIGINT}
  </update>
  <select id="getKsTms" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ks_timu
    where lrrxh = #{sbr,jdbcType=BIGINT}
    <if test="xhs != null">
     	and xh in (${xhs})
    </if>
  </select>
  
  <!-- 获取考试题目 -->
  <select id="getTiMuByKsxh" parameterType="long" resultType="com.power.common.entity.KsTiMu">
  	SELECT tm.xh,tm.bt,tm.xx,tm.tmlx,tm.zqda,tm.tmfs,tm.dajx FROM ks_timu tm LEFT JOIN ks_shijuan sj ON (tm.xh IN (sj.tmbh) AND sj.xh = #{value})
  </select>
</mapper>